.gun-img{
    width: 250px;
}

.cart-container{
    background-color: rgb(201, 246, 246);
    display: flex;
    align-items: center;
    justify-content:center;
    border-radius:25px;
    height: 600px;
}

.cart-btn{
    padding:15px;
    outline: none;
    border: none;
    font-size:18px;
}
.cart-icon{
    margin-right: 6px;
    font-size:20px;
}